.main_index {
    width: 100%;
    display: grid;
    height: fit-content;
    grid-template-columns: 1fr;
    row-gap: 100px;
}

.main_index_1 {
    background-color: aquamarine;
}

.main_index_2 {
    /* background-color: rgb(247, 65, 165); */
    min-height: 50px;
    width: 100%;
    padding: 0 10%;
    text-align: center;
}

.img_main_index_2 {
    display: grid;
    grid-template-columns: repeat(4, 1fr);
    gap: 0.5vw;
}

.collection_product img {
    width: 100%;
}

.collection_product {
    position: relative;
}

.title_collection {
    position: absolute;
    left: 50%;
    top: 10%;
    transform: translate(-50%);
    font-size: 2vw;
    font-family: cursive;
    background-color: rgba(240, 248, 255, 0.449);
}

.main_index_2 h3 {
    color: black;
    font-size: 4vw;
    font-weight: bold;
    border-bottom: 0.1vw solid rgba(128, 128, 128, 0.329);

}

.main_index_3 {
    min-height: 50px;
    width: 100%;
    padding: 0 10%;
    text-align: center;
}

.img_main_index_3 {
    display: grid;
    grid-template-columns: 1fr 1fr;
    gap: 2%;
}


.main_index_3 h3 {
    color: black;
    font-size: 4vw;
    font-weight: bold;
    border-bottom: 0.1vw solid rgba(128, 128, 128, 0.329);
}

.main_index_1 img {
    width: 100%;

}