.main {
    display: grid;
    grid-template-columns: 1fr 6fr;
    grid-template-areas:
        "nav pro"
        "nav nextpage";
    gap: 20px;
}

#main_product {
    grid-area: pro;
    display: grid;
    grid-template-columns: repeat(4, 1fr);
    gap: 50px;
    padding: 2vw;
}

.btn_current_page {
    grid-area: nextpage;
}

.nav_product {
    grid-area: nav;
    overflow: hidden;
    padding: 2vw 0 0 2vw;
}

ul,
li {
    font-size: 1vw;
    list-style-type: none;
}

.all .l1 {
    cursor: pointer;
    margin: 0.3vw;
    background-color: rgb(255, 255, 255);
    border-bottom: 0.1vw solid rgba(185, 185, 185, 0.271);

}

.u2 {
    display: block;
}




.l2 {
    padding-left: 1.5vw;
    background-color: aliceblue;
    border-bottom: 0.1vw solid rgba(185, 185, 185, 0.271);
    /* display: none; */
    width: 100%;
}

.content_product {
    border: solid black 1px;
    height: fit-content;
}

.content_product img {
    width: 100%;
    height: 80%;
}

.content_product h3 {
    font-size: 1vw;
    padding: 0.2vw;
}

.content_product .price {
    font-size: 1.5vw;
    padding: 0 1.5vw;
    color: rgb(82, 82, 82);
    font-weight: bold;
}

.content_product .rate {
    color: coral;
    font-size: 1vw;
    padding-right: 1vw;

}

.content_product .rate i {
    padding-left: 0.3vw;
}

.price_rate {
    display: flex;
    align-items: center;
    justify-content: space-between;
}

.button_product {
    width: 100%;
    display: flex;
    justify-content: space-around;
    padding: 1vw 0.2vw;
    gap: 0.5vw;
}

.button_product button {
    font-size: 0.8vw;
    padding: 0.2vw 1vw;
    border: 0.1vw solid gray;
}

.btn_current_page {
    text-align: center;
    padding: 2vw;
}

.btn_current_page button {
    font-size: 1.3vw;
    padding: 0.2vw 1vw;
}